[Unit]
Description=Playlist Manager Backend

[Service]
User=ec2-user
WorkingDirectory=/opt/playlist-manager/backend
ExecStart=/home/ec2-user/.local/bin/poetry run flask run --host 0.0.0.0