# Sets the location of the flask application object: https://flask.palletsprojects.com/en/2.3.x/cli/#application-discovery
# Needed because of the presence of the "src" folder
ENVIRONMENT="local"
FLASK_APP="src/app"
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:8080

# Turn on debug mode (which enables reloading on code changes and the interactive debugger: https://flask.palletsprojects.com/en/2.3.x/config/#DEBUG)
FLASK_DEBUG=true

# Required to use Flask's session feature (for storing albums in a browser cookie in the first exercise): https://flask.palletsprojects.com/en/2.3.x/config/#SECRET_KEY
SECRET_KEY="secret-key"

# Spotify Api
SPOTIFY_CLIENT_ID="https://developer.spotify.com/dashboard"
SPOTIFY_SECRET="https://developer.spotify.com/dashboard"
SPOTIFY_REDIRECT_URI="http://localhost:8080/spotify-redirect"

# Musicbrainz Api
MUSICBRAINZ_URL=https://musicbrainz.org/ws/2
MUSICBRAINZ_USER_AGENT="Application PlaylistManager/1.0 - Hobby project (put maintainers email here)"

# Database Connection String
DB_CONNECTION_STRING=postgresql://username:password@hostname:port/database

# Logging
LOGGING_LEVEL="DEBUG"
LOGGLY_TOKEN="6291f75c-2b3f-42c5-acf2-abe1016c23be"

# AUTHO
AUTH0_DOMAIN="auth0Domain"