{% extends "layout.html" %} {% block title %}Playlist Manager App{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Playlist Manager</h1>
  <p class="lead">A space to discover and manage new music.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Playlists</h2>
    <ul class="list-group mb-4">
      {% for playlist in playlists %}
      <li>{{ playlist.title }} - {{ playlist.description }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Add Playlist</h2>
    <ul class="list-group mb-4">
      <!-- List the playlists here -->
    </ul>
  </div>
</div>
{% endblock %}
