{% extends "layout.html" %} {% block title %}Playlist Manager App{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Playlist Manager</h1>
  <p class="lead">A space to discover and manage new music.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Playlists</h2>
    <ul class="list-group mb-4">
      {% for playlist in playlists %}
      <li class="row">
        {{ playlist.title }} - {{ playlist.description }}
        <a href="{{ url_for('get_edit_playlist', id=playlist.id)}}">Edit</a>
        <form
          action="{{ url_for('delete_playlist_by_id', id=playlist.id) }}"
          method="post"
        >
          <input type="submit" value="Delete" />
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Add Playlist</h2>
    <form method="post" action="/create-playlist">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
        />
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
